@import './tokens.css';
@import './typeface.css';
@import './components/menu.css';
@import './sidebar.css';
@import './search.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--theme-black);
    fill: var(--theme-black);
}

html,
body {
    font-family: 'GeistMono', 'General Sans', 'Sarabun', 'system-ui', 'leelawadee UI', sans-serif;
    background-color: var(--theme-bg);
}

.u-hidden {
    display: none !important;
}

#titlebar {
    -webkit-app-region: drag;
    height: 34px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}